html,
body {
    height: 100%;
    overflow: hidden;
    font-family: "Roboto Slab", sans-serif;
}

body {
    background-size: cover;
}

a {
    color: #000000;
    text-decoration: none;
}

.main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.box {
    position: relative;
    width: 25%;
    /* desired width */
    min-width: 250px;
}

.box:before {
    content: "";
    display: block;
    padding-top: 100%;
    /* initial ratio of 1:1*/
}

.main-wrapper .container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: box-shadow 0.8s;
    user-select: none;
    text-align: center;

    min-height: 350px;
    min-width: 350px;
}

#address {
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: left;
}

.main-wrapper .container:hover {
    cursor: pointer;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

.main-wrapper .container img {
    display: block;
}

.main-wrapper .container .div-title {
    margin-top: 10px;
}

.main-wrapper .container .title {
    margin: auto;
    text-align: center;
}

a.button#email {
    position: absolute;
    right: 10px;
    bottom: 10px;
    min-width: 100px;
}

a.button {
    text-align: center;
    margin: auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px 8px;
    transition: background-color, 0.3s;
}

a.button:hover {
    background-color: black;
    color: white;
}